.plans {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  overflow: hidden;
  background-color: white;
 font-family: inherit;
  background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}

.plan {
  display: inline-block;
  width: 230px;
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  background: white;
  background-clip: padding-box;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 font-family: inherit;
 
}

.planp{
 color: white;
 font-size: 18px;
 font-weight: 400;
 text-align: center;
}

.plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: black;
  opacity: 0.5;
}

.plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #2E5A88
}


.upwards{
 color: #2E5A88;
 font-weight: 700;
 font-family: 'Lato';
}

.plan-unit {
  display: block;
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
  color: black;
  font-family: 'Raleway';
}

.plan-features {
  width: 120px;
  margin: 20px auto 15px;
  padding: 15px 0 0 15px;
  border-top: 1px solid #2E5A88;
  text-align: left;
}

.plan-feature {
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.plan-feature + .plan-feature {
  margin-top: 5px;
}

.plan-feature-unit {
  margin-left: 2px;
  font-size: 16px;
}

.plan-feature-name {
  font-size: 13px;
  font-weight: normal;
  color: black;
}

.plan-button {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: #2E5A88;
  border-bottom: 2px solid #cf7e3b;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration-color: none;
}

.plan-button:hover{
    text-decoration-color: none;
    color: #ddd !important;
}

.plan-button:active {
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}


.plans2 {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  overflow: hidden;
  background-color: #ddd;
 font-family: inherit;
  background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}

.plan2 {
  display: inline-block;
  width: 230px;
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  background-color: white;
  background-clip: padding-box;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 font-family: inherit;
}
